

.first{
	background-color: black;
	width: 100%;
	padding: 8px 0px;
}

.bar-item{
	font-size: 25px;
    padding: 5px 15px;
    color: #fff;
}

.loop{
	float: right;
    font-size: 15px;
}

.title{
	padding: 48px 48px;
}


.headings{
	font-weight: 400;
    margin: 10px 0;
	text-align: center;
	font-family: "Oswald";
	line-height: 1.5;
	font-weight: bold;	
	}

.h-one{
	font-size: 48px;

}

.blog{
	padding: 8px 8px;
}

.span{
	padding: 8px 8px;
    background-color: black;
    color: #fff;
}

.blog{
	font-size: 24px;

}

.white{
	color: white;
	font-size: 52px;
	letter-spacing: 4px;
}


.display{
	max-width: 100%;
	height: auto;	
}

.text-white{
	font-size: 36px
}

.style{
	float: left;
	position: absolute;
	top: 465px;
	color: #fff;
	font-family: "oswald";
}

	.butoni:{
		color: black;
    background: #fff;
    padding: 12px 24px;
    font-size: 18px;
    opacity: 0.6;
    cursor: pointer; 
	}
	
	